img {
    width:50px;
    height:50px;
    border-radius: 5px;
    
}

footer {
    background-color: green;
    color: white;
    text-align: center;
}

#appName {
    font-size: 40px;
}
#logo {
    position: relative;
    top: 29px;
}
.post-form {
    display: flex;
    float: left;
}

ul {
    list-style-type: none;
}

.logo {
    display: flex;
}

.homePosts {
    width: 48%;
    display: grid;
    row-gap: 10px;
    position: relative;
}

.profilePosts {
    width: 50%;
    position: relative;
    left:20%;
    display: grid;
    row-gap: 10px;
}

h2 {
    position: relative;
    left:5%;
    text-align: center;
}

.post {
    border: solid;
    border-radius: 10px;
}

#search {
    position: relative;
}

#sort {
    position: relative;
    left: 25%;
}


#title {
    font-weight: bold;
}

.post-status-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    width: 100%;
}

.create-section {
    font-size: 28px;
}

.createContainer {
    width: 80%;
    display: grid;
}

.origin {
    text-align: right;
}

a {
    color: aliceblue;
    text-decoration: none;
}

#GoogleLink {
    color: black;
    text-decoration: underline;
}

#hashtag {
    color:blue;
}

a:visited {
    color: aliceblue;
}

.profile-container {
    background-color: rgb(188, 188, 188);
    width:fit-content;
    border-radius: 5px;
    position: relative;
    left:40%;
}


.header {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: green;
    align-items: center;
    justify-items: end;
    width: auto;
    margin:auto;
    max-height: 75px;
}