{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <div class="container">
        <a id="GoogleLink" href="/auth/google"><h1>Login with Google</h1></a>
    </div> 
</section>