{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <div class="container">
        <h1>Login with Google OAuth</h1>
        <a href="/auth/google">Sign In with Google</a>
    </div> 
</section>