{{! Use the main layout }}
{{!< main }}

<section class = "register-area">
    <h1>Register</h1>
    <!-- errors will appear here -->
    {{#if regError}}
        <p style="color: red;">{{regError}}</p>
    {{/if}}
    <form action="/registerUsername" method="POST">
        <!-- the registration form goes here -->
        Username: <input name="username" type="text">
        <button type="submit">Register</button>
    </form>
</section>